.service-type-section-4 {
  color: var(--text-color);
}

.service-type-section-4 p {
  color: var(--dark-gray);
}

.service-type-section-4 img {
  min-width: 40%;
  border-radius: var(--raduis-2);
  max-height: 350px;
  min-height: 350px;
  object-fit: cover;
}

@media (max-width: 1050px) {
  .service-type-section-4 .container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .service-type-section-4 .container .content {
    align-items: center;
  }
  .service-type-section-4 .container img {
    width: 80%;
  }
}
