@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --text-color: #060f61;
  --title-color: #0a2540;
  --sub-title-color: #635bff;
  --accent-color: #f28705;
  --accent-color: #eb6d11;
  --accent-color-transparent: #f2870580;
  --red-accent: #df4a4a;
  --green-accent: #067406;
  --light-gray: #e2e2e2;

  --dark-gray: #3b424a;
  --priamry-btn-color: #d3eabd;
  --priamry-btn-color-hover: #96c246;
  --circle-color: #96c246;
  --bs-white: #f6f9fc;
  --white: #ffffff;
  --bs-black: #1d1c1c;
  --black: #111;
  --bglinear-gradient: linear-gradient(180deg, #3f501e -10%, #111 100%);
  --trasition-1: 0.3s ease;
  --raduis-5: 50px;
  --raduis-2: 20px;
  --shadow-1: 4px 4px 10px #332f2f87;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.08rem;
  background-color: var(--bs-white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

input,
button {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-weight: 500;
  line-height: 27px;
  color: var(--dark-gray);
}

.primary-btn,
.secondary-btn {
  border-radius: var(--raduis-5);
  padding: 10px 30px;
  font-weight: 600;
  box-shadow: var(--shadow-1);
  transition: var(--trasition-1);
}

.primary-btn {
  background-color: var(--accent-color);
}

.secondary-btn {
  background-color: var(--bs-white);
  border: 3px solid var(--text-color);
  font-size: 0.8rem;
}

.primary-btn:hover,
.secondary-btn:hover {
  background-color: var(--text-color);
  color: var(--bs-white) !important;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 20px;
}

.section {
  margin-top: 50px;
}

.first-section {
  padding-top: 134px;
}

.link {
  transition: var(--trasition-1);
  border-bottom: 2px solid var(--title-color);
}

.link:hover {
  color: var(--accent-color);
  border-bottom-color: var(--accent-color) !important;
}

h1 {
  font-size: 4rem;
  text-transform: capitalize;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.2rem;
}

@media (max-width: 1200px) {
  .container {
    padding: 30px 50px !important;
  }
  .first-section {
    padding-top: 144px;
  }
}

@media (max-width: 579px) {
  h1 {
    font-size: 3rem;
  }
  .container {
    padding: 20px !important;
  }
}
