.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: end;
}

.flex-start {
  display: flex;
  align-items: start;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.flex-column-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-between-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between-start {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.g-5 {
  gap: 5px;
}
.g-10 {
  gap: 10px;
}
.g-15 {
  gap: 15px;
}
.g-20 {
  gap: 20px;
}
.g-30 {
  gap: 30px;
}
.g-40 {
  gap: 40px;
}
.g-50 {
  gap: 50px;
}
.g-100 {
  gap: 100px;
}
